extends ../layout/layout
block content
    div.container
        h1.mb-3 Novo review
        div.row
            div.col
                p #[strong URL:] #{url}
                p #[strong Manchete:] !{newsArticle.headline}
                p #[strong Descrição:] !{newsArticle.description}
                p #[strong Autor(es):]
                    if newsArticle.author.length > 1
                        each val in newsArticle.author
                            span </br> #{val.name}
                    else
                        span #{newsArticle.author.name}
                p #[strong Site:] !{newsArticle.publisher.name}
                - var date = new Date(newsArticle.datePublished)
                - var day = date.getDate()
                - var month = date.getMonth()
                - var year = date.getFullYear()
                p #[strong Data da publicação:] #{day + '/' + month + '/' + year}
            div.col
                form(method='POST' action='/review/sucesso')
                    input(name='newsArticle' type='hidden' value=newsArticle)
                    input(name='url' type='hidden' value=url)
                    label(for='author') Autor
                    input(id='author' name='author'   type='text').form-control
                    label(for='claimReviewed') Titulo
                    input(id='claimReviewed' name='claimReviewed' type='text').form-control
                    label(for='review') Titulo
                    textarea(id='review' name='review' rows=5).form-control
                    <br/>
                    button.btn-primary.float-right(type='submit') Enviar

