doctype html
html(lang='en')
    head
    body
       h1.mb-3
       p URL: #{newsarticle.url}
       p Headline: #{newsarticle.headline}
       p Description: #{newsarticle.description}

       // each value, index in jsonld
       //      p=index + ':' + value
       //      children=value.children
       //      if children
       //          each value, index in children
       //              p=index + ':' + value


